<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main page</title>
</head>
<body>
  {{ if .authinfo }}
    <h1>Welcome {{ .authinfo.User }}</h1>
    <ul>
      {{range .roles}}
        <li>{{.}}</li>
      {{end}}
    </ul>
    
    <a href="/secret">Go to Secret Page</a><br>
    <a href="/logout">Logout</a>
  {{ else }}
    <h1>Please Login</h1>
    <form action="/login" method="post">
      User : <input type="text" name="Email"> <br>
      Pass : <input type="text" name="Pass"> <br><br>
      <input type="submit" value="Submit">  
    </form>
  {{ end }}  
</body>
</html>